/* 
    selector {
    property: value;
    }
    selector => may be : element or class or id 
    notice: use id as selector for style not best practice

*/
p {
  color: red;
  font-size: 40px;
}

p {
  color: green;
  font-size: 40px;
}

body {
  background-color: yellow;
  background-color: rgb(0 0 0/50%); /* red green blue intensity */
  /* background-color: rgb(0 0 0/50%);  // alpha channel */
  background-color: #6729d3; /* color hex code */


 
}
header{
  background-image: url(./../images/back.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
  background-size: cover;
  height: 140px;
}